extends layout

block content
  include navbar.pug

  .index-content
      .login
        .card.border-dark
          .card-icon
            i.fas.fa-users.fa-3x
          .card-body.text-dark.mt-3
            .card-content
              h3.login-title 
              form.login-form
                .form-group.mt-3
                  label.login-label(for="email") Email:
                  input(type="email" class="form-control input-login" id="email" placeholder="john@example.com")

                .form-group.mt-3
                  label.login-label(for="password") Password:
                  input(type="password" class="form-control input-login" id="password" placeholder="Very secret word...")
              .login-buttons
                button.btn.btn-outline-success.mt-5.login-button(onClick="") Login
                button.btn.btn-outline-primary.mt-5.register-button(onClick="") Register

              .login-separator
                .separator-icon Register with

              
              .register-buttons.mb-3
                  i.fab.fa-github.fa-2x.github
                  i.fab.fa-google.fa-2x.google
                  i.fab.fa-twitter.fa-2x.twitter

      .news-content
        .card.border-dark
          .card-icon
            i.far.fa-newspaper.fa-3x 
          .card-body.text-dark.text-center.mt-3
            h3.login-title 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>