nav.bg-light
    .header
        .brand
            a.navbar-brand(href="#") 
                img.brand-image(src="images/logo.png", width="50", height="50")
        
        .nav-links
            a.header-link.active Home 
                i.fas.fa-home    
            a.header-link News 
                i.far.fa-newspaper
            a.header-link Info 
                i.fas.fa-info-circle
            
        .buttons
            a.btn.btn-outline-dark.btn-sm Login
            a.btn.btn-outline-primary.btn-sm Register
                
                